@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
#o-level #waec-result {
  height: 8.999rem;
  width: 100%;
  padding: 0.4rem;
  font-size: 0.98rem;
}
#o-level #waec-result > div {
  display: flex;
  justify-content: space-between;
}
#o-level #waec-result > div select {
  border: 1px solid grey;
  font-size: 0.7rem;
  margin: 0.009rem;
}
#o-level #waec-result > div label {
  text-transform: capitalize;
}

.form-container {
  padding: 0.1rem;
}
.form-container > div {
  margin: 0.7rem;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
}
.form-container > div label {
  padding-bottom: 0.5rem;
  width: 14rem;
  text-transform: uppercase;
}
.form-container > div input {
  height: 1.9rem;
  width: 100%;
  border: 0.001rem solid rgba(0, 0, 0, 0.212);
  padding: 0.4rem;
  font-size: 0.9rem;
}
.form-container > div input:focus, .form-container > div input:active {
  outline: none;
}
.form-container > div:not(:last-of-type) {
  border-bottom: 1px solid #777;
}

@media (min-width: 550px) {
  .form-container > div {
    flex-direction: row;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#e3e9f5, #abc1eb, #a6b5d7);
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 550px) {
  body {
    font-size: 0.85rem;
  }
}
h1 {
  margin-bottom: 0.3rem;
  color: #426cbb;
}

.info {
  margin-bottom: 4rem;
}

@media (max-width: 550px) {
  h1 {
    font-size: 1.5rem;
  }

  .info {
    margin-bottom: 2.5rem;
  }
}
.btn, input[type=submit] {
  height: 2rem;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: #6e8fcc;
  font-size: 1.14rem;
  font-weight: 600;
  padding: 0.4rem;
  transition: 0.5s;
}

.btn:hover {
  background-color: #5b80c5;
}

.btn:active {
  transform: scale(0.9);
}

#reset-values {
  display: none;
}

#message {
  display: none;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  transition: 0.4s;
}

#result {
  color: #1a6e1a;
}

footer {
  margin-top: 3rem;
}

a {
  color: blue;
  text-decoration: underline;
}